[submodule "helpers"]
	path = helpers
	url = https://github.com/johanneskastl/helpers.git
[submodule "ansible/roles/add_zypper_repository"]
	path = ansible/roles/add_zypper_repository
	url = https://github.com/johanneskastl/ansible-role-add_zypper_repository.git
[submodule "ansible/roles/zypper_ref_accept_keys"]
	path = ansible/roles/zypper_ref_accept_keys
	url = https://github.com/johanneskastl/ansible-role-zypper_ref_accept_keys.git
