[submodule "helpers"]
	path = helpers
	url = https://github.com/johanneskastl/helpers.git
[submodule "ansible/roles/add_zypper_repository"]
	path = ansible/roles/add_zypper_repository
	url = https://github.com/johanneskastl/ansible-role-add_zypper_repository.git
[submodule "ansible/roles/zypper_ref_accept_keys"]
	path = ansible/roles/zypper_ref_accept_keys
	url = https://github.com/johanneskastl/ansible-role-zypper_ref_accept_keys.git
[submodule "ansible/roles/install_one_or_more_packages"]
	path = ansible/roles/install_one_or_more_packages
	url = https://github.com/johanneskastl/ansible-role-install_one_or_more_packages.git
[submodule "ansible/roles/reboot"]
	path = ansible/roles/reboot
	url = https://github.com/johanneskastl/ansible-role-reboot.git
[submodule "ansible/roles/selfsigned_demo_ca"]
	path = ansible/roles/selfsigned_demo_ca
	url = https://github.com/johanneskastl/ansible-role-selfsigned_demo_ca.git
[submodule "ansible/roles/minimal_bashrc"]
	path = ansible/roles/minimal_bashrc
	url = https://github.com/johanneskastl/ansible-role-minimal_bashrc.git
[submodule "ansible/roles/create_a_vimrc"]
	path = ansible/roles/create_a_vimrc
	url = https://github.com/johanneskastl/ansible-role-create_a_vimrc.git
